.navbar_Content{
    height: 52px;
    background-color: #fff;
    border-bottom: 1px solid #dedede;
}

.navbar_logo{
    margin-top: 10px;
}

.navbar_img{
    margin: 15px 10px;
}
.navbar_searchBar{
    height: 30px;
    width: 215px;
    margin-top: 10px;
    border: 1px solid #dbdbdb;
    text-align: center;
}